* {
  user-select: none;
  box-sizing: border-box;
  font-weight: bold;
}
:root {
  --color-purple-primary: #2b0048;
  --color-purple-secondary: #470573;

  --color-yellow-primary: #ffd800;
  --color-yellow-secondary: #ffed8e;

  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 20px;
  --border-radius-5: 24px;
}
input,
button,
textarea {
  user-select: auto;
  outline: none;
  border: none;
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

/* Common */
.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}
.button_container {
  display: flex;
  height: 40px;
}
.button_rankboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin-right: 4px;
  color: var(--color-purple-primary);
  background-color: var(--color-yellow-primary);
  border: 2px solid var(--color-purple-primary);
  border-radius: 8px;
}
.button_play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 4px;
  border: 2px solid var(--color-purple-primary);
  border-radius: 8px;
  background-color: var(--color-yellow-primary);
}

.button_play .MuiSvgIcon-root {
  color: var(--color-purple-primary);
}

.horizon {
  border: none;
  border-bottom: 2px solid var(--color-purple-primary);
}
/* Loading Scene */
.loading_on,
.loading_off {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: white;
  transition: 0.3s;
  pointer-events: auto;
}

.loading_on {
  opacity: 1;
  visibility: visible;
}
.loading_off {
  opacity: 0;
  visibility: hidden;
}

.loading_on .percentage {
  transition: 1s;
}

/* Entry Scene */

.scene_entry {
  pointer-events: auto;
}

.user_info_button {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--color-purple-primary);
  border-radius: 50%;
  background-color: var(--color-yellow-primary);
  border: 2px solid var(--color-purple-primary);
}

.user_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--color-purple-primary);
  border-radius: 8px;
  color: var(--color-purple-primary);
  padding: 8px;
  background-color: #fff;
}
.username_title {
  font-size: 12px;
  margin-bottom: 4px;
}
.my_username {
  background-color: var(--color-yellow-primary);
  padding: 4px;
  border: 2px solid var(--color-purple-primary);
  border-radius: 4px;
}

.need_login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  color: var(--color-purple-primary);
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--color-purple-primary);
  background-color: #fff;
}

.join_hall_request {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  color: var(--color-purple-primary);
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--color-purple-primary);
  background-color: #fff;
}
.request_title {
  margin-bottom: 8px;
}
.request_button {
  padding: 4px;
  background-color: var(--color-yellow-primary);
  border: 2px solid var(--color-purple-primary);
  border-radius: 4px;
}
.close_button {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 4px;
  background-color: var(--color-purple-primary);
  color: #fff;
  font-weight: bold;
}

.login_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 8px;
  border-radius: 12px;
  background-color: #fff;
  color: var(--color-purple-primary);
  border: 2px solid var(--color-purple-primary);
}
.login_form > img {
  margin-bottom: 8px;
}

.login_guest {
  display: block;
  margin: 0 auto;
  padding: 8px;
  border: 2px solid var(--color-purple-primary);
  color: var(--color-purple-primary);
  background-color: var(--color-yellow-primary);
  border-radius: 8px;
}

/* Hall Scene */
.scene_hall {
  pointer-events: auto;
}
.gamezone_title {
  margin-bottom: 12px;
  font-size: 24px;
}
.gamezone_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: #fff;
  border-radius: 20px;
  width: 300px;
  border: 2px solid var(--color-purple-primary);
}
.gameinfo_image {
  border-radius: 4px;
}
.table_container {
  display: flex;
  margin-bottom: 8px;
  color: var(--color-purple-primary);
}
.table_title {
  padding: 4px 8px;
  border-radius: 8px;
  border: 2px solid var(--color-purple-primary);
}
.table_body {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

/* Chapter 1 */
.climb_container {
  pointer-events: auto;
}
.climb_record {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid var(--color-purple-primary);
  text-align: center;
  color: var(--color-purple-primary);
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.climb_my_record_container,
.climb_record_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 2px solid var(--color-purple-primary);
  border-radius: 8px;
}
.climb_my_record_container {
  background-color: var(--color-yellow-primary);
}
.climb_record_left {
  display: flex;
}
.climb_record_rank {
  margin-right: 8px;
}
.climb_record_username {
  margin-right: 8px;
}
.climb_record_score {
}
.climb_rankboard_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200px;
  overflow-y: auto;
}
.climb_rankboard_body::-webkit-scrollbar {
  display: none;
}
.climb_progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.climb_button_start {
  position: absolute;
  background-color: var(--color-yellow-primary);
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid var(--color-purple-primary);
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.climb_exit {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 2px solid var(--color-purple-primary);
  color: var(--color-purple-primary);
  border-radius: 8px;
  background-color: var(--color-yellow-primary);
}

.climb_rankboard_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
}
.climb_rankboard_title {
  font-size: 12px;
  margin-bottom: 4px;
}
/* CHAT */

.chat_title {
  display: flex;
  justify-content: center;
  margin: 8px;
  color: #fff;
}

.chat_open_button {
  margin: 4px;
  /* padding: 4px; */
  border-radius: var(--border-radius-2);
}

.chat_button_on,
.chat_button_off {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 4px;
  padding: 4px;
  border: 2px solid var(--color-purple-primary);
  background-color: var(--color-yellow-primary);
}

.chat_on,
.chat_off {
  margin-bottom: 4px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 17rem;
  height: 16rem;
  padding: 4px;
  transition: all 0.2s;
  box-shadow: -4px 4px 12px rgb(59, 53, 53);
  border-radius: var(--border-radius-2);
  overflow-y: auto;
  color: #000;
}

.chat_on:hover {
  background-color: rgba(58, 56, 56, 0.3);
}

.chat_on {
  opacity: 1;
  visibility: visible;
}

.chat_off {
  opacity: 0;
  visibility: hidden;
}

.chat_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

/* .chat_on,
.chat_off {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat_on {
  width: 30%;
}
.chat_off {
  width: 0%;
} */
/* .chat_close {
  color: #fff;
  font-size: 32px;
  margin-bottom: 8px;
} */
.chat_log {
  flex: 1;
  overflow-y: auto;
}
.chat_log::-webkit-scrollbar {
  display: none;
}
.chat_message {
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.chat_input {
  padding: 8px 12px;
  color: var(--color-purple-primary);
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: 0.5px;
  border: 2px solid var(--color-purple-primary);
}
.chat_input::placeholder {
  color: var(--color-purple-primary);
  font-weight: bold;
  opacity: 0.5;
  letter-spacing: 0.5px;
}
.chat_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-left: 4px;
  padding: 4px;
  border: 2px solid var(--color-purple-primary);
  background-color: var(--color-yellow-primary);
}

.chats {
  margin: 4px;
  padding: 4px;
  color: #fff;
}
.chats_name {
  padding: 4px;
  font-size: 0.25rem;
}
.chats_message {
  padding: 4px 8px;
  border-radius: var(--border-radius-2);
  background-color: rgb(59, 53, 53);
}

/* GuestBook */

.guestbook_on,
.guestbook_off {
  position: absolute;
  left: 50%;
  transition: 0.3s;
  font-weight: bold;
}

.guestbook_on {
  top: 50%;
  transform: translate(-50%, -50%);
}
.guestbook_off {
  top: 100%;
  transform: translate(-50%, 0);
}

.guestbook_container {
  padding: 20px;
  text-align: center;
  border: 2px solid var(--color-purple-primary);
  border-radius: 20px;
  background-color: #fff;
}
.guestbook_container > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.guestbook_container > div > span {
  width: 20%;
  margin-right: 4px;
}
.guestbook_icon {
  margin-right: 4px;
}
.guestbook_name,
.guestbook_message {
  flex: 1;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: var(--color-purple-primary);
  border: 2px solid var(--color-purple-primary);
  border-radius: 4px;
  padding: 8px;
}
.guestbook_name::placeholder,
.guestbook_message::placeholder {
  font-weight: bold;
  letter-spacing: 0.5px;
  color: var(--color-purple-primary);
  opacity: 0.6;
}
.guestbook_message {
  resize: none;
}
.guestbook_send {
  min-width: 32px;
  min-height: 32px;
  margin-left: 4px;
  padding: 4px;
  color: var(--color-purple-primary);
  font-weight: bold;
  border-radius: 4px;
  background-color: var(--color-yellow-primary);
  border: 2px solid var(--color-purple-primary);
}
.guestbook_close {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 4px;
  background-color: var(--color-purple-primary);
  color: #fff;
  font-weight: bold;
}

/* Perspective */

.perspective_icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: var(--color-purple-primary);
  padding: 2px;
  border-radius: 50%;
}
